/* 
<summary>
Date          Name            Vers    Comments
2024-01-19    Peitao Xu       1.0     Build the About page.
2024-01-20    Peitao Xu       1.1     Build the Portfolio page.
2024-01-21    Peitao Xu       1.2     Build the Contact page. 
*/

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header Title */
.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  /* background-image: url('pic/Topbanner-07.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. 
It is positioned relative until a given offset position is met in the viewport 
- then it "sticks" in place (like position:fixed). 
The sticky value is not supported in IE or Edge 15 and earlier versions. However, 
for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Active/current link which is on the right */
.navbar a.rightactive {
  float: right;
  background-color: #666;
  color: white;
}

/* Column container */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;   /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Sidebar of About page/left column */
.sideabout {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Sidebar of Contact page/left column */
.sidecontact {
  -ms-flex: 20%;
  flex: 20%;
  background-color: #f1f1f1;
  padding: 10px;
  float: center;
  text-align: center;
}

/* Main column(left) of About Page*/
.main {
  -ms-flex: 40%;
  flex: 40%;
  background-color: white;
  padding: 20px;
}

/* Main2 column(right) of About Page */
.main2 {
  -ms-flex: 30%;
  flex: 30%;
  background-color: white;
  padding: 20px;
}

.maincontact {
  -ms-flex: 60%;
  flex: 60%;
  background-color: white;
  padding: 20px;
}

/* left div for contact page */
.ContactMe {
  background-color: #1abc9c;
  width: 100%;
  padding: 20px;
}

/* left div for about page img */
.Meimg {
  background-color: #1abc9c;
  width: 100%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

/* left div for contact page text*/
.Aboutme {
  background-color: #1abc9c;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: justify;
}

/* left div for contact page icon */
.iconimg {
  background-color: #1abc9c00;
  width: 120px;
  padding: 20px;
}

/* left green div for education */
.edu1 {
  float: left;
  text-align: left;
  background-color: #1abc9c93;
  width: 50%;
  padding: 10px;
}

/* right green div for education */
.edu2 {
  float: right;
  text-align: right;
  background-color: #1abc9c93;
  width: 50%;
  padding: 10px;
}

/* left blank div for education */
.edu3 {
  float: left;
  text-align: left;
  background-color: #ffffff00;
  width: 50%;
  padding: 10px;
}

/* left blank div for education */
.edu4 {
  float: right;
  text-align: right;
  background-color: #ffffff00;
  width: 50%;
  padding: 10px;
}

/* green div for experience */
.exp1 {
  float: left;
  text-align: left;
  background-color: #1abc9c93;
  width: 100%;
  padding: 10px;
}

/* blank container for skill text */
.SKILLText {
  float: left;
  width: 35%;
  background-color: #ffffff00;
  padding-top: 5.4px;
  padding-bottom: 5.4px;
}

/* white container for skill bar */
.SKILLBar {
  float: right;
  width: 65%;
  background-color: #ffffff;
  padding-top: 5.4px;
  padding-bottom: 5.4px;
}

/* right align div for skill text */
.skills {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}

/* green bar for 90% */
.ninety {
  width: 90%;
  background-color: #04AA6D;
}

/* blue bar for 80% */
.eighty {
  width: 80%;
  background-color: #2196F3;
}

/* cyan bar for 70% */
.seventy {
  width: 70%;
  background-color: #36bfc1;
}

/* gray bar for 60% */
.sixty {
  width: 60%;
  background-color: #808080;
}

/* left container for volunteer text */
.VolunteerText {
  float: left;
  width: 80%;
  background-color: #ffffff00;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* right container for volunteer text */
.VolunteerText2 {
  float: right;
  text-align: right;
  width: 20%;
  background-color: #ffffff00;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* download container for Resume file */
.Download {
  float: center;
  text-align: center;
  width: 100%;
  background-color: #b3ede4c1;
  padding-top: 0px;
  padding-bottom: 10px;
  text-decoration: none;
}

/* container for the title of portfolio */
.portfolio {
  float: center;
  text-align: left;
  width: 90%;
  background-color: #f1f1f1;
}

/* Column container for portfolio */
.rowportfolio {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding-left: 100px;
}

/* The grid of Portfolio: three equal columns that floats next to each other */
.column {
  -ms-flex: 33%;
  flex: 33%;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - 
when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - 
when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}